*{
    margin: 0;
    color: #fff;
}

body{
    background-color: #5a5a5a;
}

a{
    text-decoration: none;
}


ul{
    margin: 0;
    display: flex;
    background-color: #272727;
    line-height: 20px;
    padding: 0 30px ;
    list-style: none;
}


iframe{
    width: 100%;
    height: 500px;
    display: flex;
}

.logo{
    color: rgb(128, 164, 241);
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
}

ul li{
    width: 100%;
    text-align: center;
    position: relative;
    padding: 10px;
}

ul li a{

    text-transform: uppercase;
    padding: 10px;
    display: block;
    text-align: center;
}

ul li a:hover{
    color: #ccc;
}

.dropdown{
    position: absolute;
    text-align: center;
    width: 70%;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    left: 0;
    visibility: hidden;
    top: -600%;
    z-index: 1000;
    font-size: 20px;
}

ul li:hover .dropdown{
    visibility: visible;
    top: 100%;
}

.dropdown2{
    position: absolute;
    left: 150%;
    width: 100%;
    top: 0;
    flex-wrap: wrap;
    transition: all 0.3s ease;
    visibility: hidden;
    font-size: 20px;
}

.dropdown li:hover .dropdown2{
    visibility: visible;
    left: 100%;
}

.menu-header{
    display: none;
}



.container{

    padding:20px 2%;
    position: relative;
    height: 100%;
}

.banner{
    width: 100%;
    height: 500px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}

.banner img{
    width: 100%;
    height: 500px;
}

.banner span{
    font-size: 50px;
    font-weight: 600;
}


.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 2%;
    grid-row-gap: 3%;
    margin-top: 15px;
}

.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;

}

.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid-info{
    color: #cac8c8;
    font-size: 16px;
    text-align: right;
}

.vid-info a{

    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}

.vid-info a:hover{
    font-weight: bold;
    color: cadetblue;
}

.down{
    display: none;
}

.test{

    padding:20px 2%;
    position: relative;
    height: 100%;
}





.banner .b{
    font-size: 25px;
    display: block;
}

.banner .b i{
    padding: 15px;
}

@media (max-width: 767px){
    ul{
        display: table;
        width: 100%;
    }

    
    .dropdown , .dropdown2{
        position: relative;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
        
    }

    .display{
        display: block;
    }

    .dropdown li:hover .dropdown2{
        left: 0;
    }

    .menu-content{
        display: none;
    }

    .menu-content ul li span{
        display: none;
    }

    .logo{
        float: left;
        line-height: 10px;
    }

    .menu-header{
        background-color: #272727;
        text-align: right;
        padding: 10px;
        display: block;
    }

    .fa-bars{
        
        border: 1px solid #fff;
        padding: 5px 10px;
        border-radius: 4px;
    }

    .list-container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .down{
        display: inline-block;
    }

    .right{
        display: none;
    }

    .banner span{
        font-size: 20px;
        font-weight: 500;
    }

    .banner .b{
        font-size: 15px;
    }

}
