*{
    margin: 0;
    padding: 0;
    font-family: ;
    box-sizing: border-box;

}

.img{
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex-div{
    display: flex;
    align-items: center;
}

nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav .home-content i{
    cursor: pointer;
    font-size: 25px;
    padding: 0 5px ;
}

nav .home-content span{
    font-size: 25px;
}

.sidebar{
    background: #fff;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 70px;
}

.sidebar.close ~ .container{
    left: 0;
    width: calc(100% - 0%);
}

.sidebar.close{
    right: 15%;
    width: calc(15% - 15%);
    transition: all 0.5s ease;
}

.sidebar .nav-links{
    background-color: red;
    height: 100%;
    overflow: visible;
    padding: 10px 0px 10px 0px;
    width: 100%;
}


.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

.sidebar .nav-links li{
    position: relative;
    transition: all 0.4s ease;
    
}

.sidebar .nav-links li:hover{
    background-color: rosybrown;
}

.sidebar .nav-links li .icon-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.sidebar .nav-links li i{
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow{
    display: none;
}


.sidebar .nav-links li a{
    display: flex;
    align-items: center;
}


.sidebar .nav-links li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 10px;
}


.sidebar.close .nav-links li a .link-name{
    opacity: 0;
    pointer-events: none;
}


.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: rosybrown;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}

.sidebar .nav-links .icon-link.showMenu {
    display: block;
}

.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3 ease;
}



.sidebar.close .nav-links li .sub-menu .link-name{
    font-size: 18px;
    opacity: 1;
    display: block;
}


.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
}

.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    
}


.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: black;
    padding: 6px 0;
    width: 15%;

}

.sidebar.close .profile-details{
    
    width: calc(15% - 9%);
    transition: all 0.5s ease;
}

.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}

.sidebar .profile-details img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0 14px 0 12px;
    background-color: ivory;
    padding: 10px;
}
.sidebar .profile-details .profile-name,
.sidebar .profile-details .job{
    font-size: 18px;
    color: lavenderblush;
    font-weight: 500;

}
.sidebar .profile-details .job{
    font-size: 12px;
}



.container{
    background: #f7f7f7;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.5s ease;
    position: relative;
    left: 15%;
    width: calc(100% - 15%);
    height: 100%;
}

.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    border-radius: 5px;
    height: 300px;
}

.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 5fr));
    grid-column-gap: 16px;
    grid-row-gap: 100px;
    margin-top: 15px;
}

.vid-list .thumbnail{
    width: 100%;
    border-radius: 5px;

}

.vid-list .flex-div{
    align-items: flex-start;
    margin-top: 7px;
}

.vid-list .flex-div img{
    width: 35px;
    margin-right: 10px;
    border-radius: 50%;
}

.vid-info{
    color: #5a5a5a;
    font-size: 15px;
}

.vid-info a{
    color: #000;
    font-weight: 600;
    display: block;
    margin-bottom: 5px;
}


@media (max-width: 900px){

    nav{
        width: 100%;
    }
    .nav-links .link-name{
        padding-left: 10%;
    }
    .container{
       
        width: 75%;

        margin-left: 12%;
        padding: 3%;
    }

    .sidebar.close ~ .container{
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .list-container{
        width: 100%;
        display: block;

    }

    .thumbnail{
        padding-top: 25px;
    }

    .sidebar{
        width: calc(100% - 73%) ;
        padding-top: 10%;
    }

    .sidebar.close{
        display: none;
    }

    .sidebar .profile-details{
        width: 100%;
    }
    
    
}
